OCR_PROVIDER=typhoon

TYPHOON_API_KEY=
TYPHOON_OCR_URL=https://api.opentyphoon.ai/v1/ocr
TYPHOON_OCR_MODEL=typhoon-ocr
TYPHOON_MAX_TOKENS=16384
TYPHOON_TEMPERATURE=0.1
TYPHOON_TOP_P=0.6
TYPHOON_REPETITION_PENALTY=1.2

LLAMA_CLOUD_API_KEY=
LLAMA_PARSE_CONFIG_FILE=parse-config.json
LLAMA_PARSE_TIER=cost_effective
LLAMA_PARSE_VERSION=latest
LLAMA_PARSE_EXPAND=markdown_full,text_full
LLAMA_PARSE_POLLING_INTERVAL=1.0
LLAMA_PARSE_TIMEOUT=7200
LLAMA_PARSE_VERBOSE=false
